# Temporary Files
*.swp
*.swo
*.pyc
*.pyo
*.o
cscope.out
tags

# TeX
*.log
*.aux
*.out
*.nav
*.toc
*.snm
*.pdf
*.dvi
*_tmp.*

# Data
*.dot
*.png
*.mat
*.dat
output/
output-*/
data-*/

# Included library
src/networkx

# Temporary stuff
attic/
